{% extends 'base.html' %}
{% load staticfiles %}
<!-- 该页面不允许出现js以及css代码,content代码和dialog代码可直接写在本文件中，下面只是content的实例代码 -->
{% block title %}
   采集任务
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/app/dataCollect/collectTask.js"></script>
    <script type="text/javascript" src="{% static 'js/libs/datagrid-cellediting.js' %}"></script>
     <script src="/static/js/app/index.js"></script>
    <script type="text/javascript">
        var collectNodeId = {{ collectNodeId }};
        var collectNodeName = '{{ collectNodeName }}';
        var urls = {
            'getCollectTaskListData': "{% url 'getCollectTaskListData' %}",
            'saveCollectTask': "{% url 'saveCollectTask' %}",
            'delCollectTask': "{% url 'delCollectTask' %}",

            'getBelongInstitution': "{% url 'getBelongInstitution' %}",
            'getBelongType': "{% url 'getBelongType' %}",

            'runCollectTask': "{% url 'runCollectTask' %}",
            'testDataBaseConnect': "{% url 'testDataBaseConnect' %}",
            'getDataBaseTables': "{% url 'getDataBaseTables' %}",
            'getSelectAllSQL': "{% url 'getSelectAllSQL' %}",
            'getPreviewData': "{% url 'getPreviewData' %}",
            'endisableCollectTask': "{% url 'endisableCollectTask' %}",
            'getDataGridList': '{% url 'getDataGridList' %}',
            'getCollectTaskLog':'{% url 'getCollectTaskLog' %}',
			'getProgressBar': "{% url 'getProgressBar' %}",
        };
    </script>
{% endblock %}

{% block css %}
    <!-- 此处填充css链接 -->
{% endblock %}

{% block content %}
    <!-- 此处填充右侧主体内容 -->
    {% include 'dataCollect/collectTaskContent.html' %}
{% endblock %}

{% block dialog %}
     <!-- 此处填充右dialog内容 -->
    {% include 'dataCollect/collectTaskDialog.html' %}
{% endblock %}