{% extends 'base2.html' %}
<!-- 该页面不允许出现js以及css代码,content代码和dialog代码可直接写在本文件中，下面只是content的实例代码 -->
{% block title %}
    接口编目
{% endblock %}

{% block js %}
   <script src="/static/js/app/cataloguedataway/index.js"></script>
   <script src="/static/js/app/index.js"></script>
   <script type="text/javascript" src="/static/js/app/date.js"></script>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="/static/css/cataloguedataway/cataloguedataway.css" />
{% endblock %}

{% block dialog %}
     <!-- 此处填充右dialog内容 -->
     {% include 'cataloguedataway/dialog.html' %}
{% endblock %}

{% block content %}
    {% include 'cataloguedataway/content.html' %}
{% endblock %}