<div class="easyui-dialog" id="cleaningDialog" data-options="width:800,height:600,buttons:'#cleaningDialogBtn'" style="display:none">
    <div id="cleaningDialogBtn">
        <a href="javascript:;" id="next_save" class="easyui-linkbutton bule_btn">下一步</a>
        <a href="javascript:;" onclick="$('#cleaningDialog').dialog('close')" class="easyui-linkbutton white_btn">取消</a>
    </div>
    <form id="cleaningForm" method="post" style="width: 100%;height: 100%">
        <div class="easyui-tabs" id="dataCleanTab" data-options="border:false,fit:true">
            <div data-options="title:'基本信息'">
                 <table border="0" cellpadding="0" cellspacing="0" class="dialog_table">
                    <tr>
                        <td>任务名称：</td>
                        <td><input class="easyui-validatebox textbox" name="name" data-options="required:true,validType:'username'" /></td>
                    </tr>
                    <tr>
                        <td>清洗数据源：</td>
                        <td>
                            <input class="easyui-combobox" name="fromTable"  data-options="required:true,valueField:'value',textField:'text',data:[{value:'fromTable',text:'fromTable'},{value:'fromTable2',text:'fromTable2'}]" />
                        </td>
                    </tr>
                     <tr>
                        <td>标准数据表：</td>
                        <td>
                            <input class="easyui-combobox" name="toTable"  data-options="required:true,valueField:'value',textField:'text',data:[{value:'toTable',text:'toTable'},{value:'toTable2',text:'toTable2'}]" />
                        </td>
                    </tr>
                    <tr>
                        <td>任务描述：</td>
                        <td><input class="easyui-validatebox textbox" name="description" data-options="" /></td>
                    </tr>
                </table>
            </div>

        </div>
        <input class="easyui-validatebox textbox" name="id" type="hidden"/>
    </form>

    <div class="frequencySetting" style="display: none">
        <table class="dialog_table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>调度计划：</td>
                <td>
                    <input type="radio" class="checkbox_position"  name="timeType" checked="checked" value="1"  />固定时间
                    <input type="radio" class="checkbox_position"  name="timeType" value="2" />一次性
                    <input type="radio" class="checkbox_position"  name="timeType"  value="3" />手动
                    <input type="radio" class="checkbox_position"  name="timeType" value="4"  />间隔
                </td>
            </tr>
            <tr class="month_day">
                <td>执行周期：</td>
                <td>
                    <input class="easyui-combobox" id="cycle" name="cycle" style="width:80px" data-options="onSelect:selectCycle,required:true,required:true,valueField:'value',textField:'text',data:[{value:1,text:'每月'},{value:2,text:'每周'},{value:3,text:'每天'}]" />
                    <input class="easyui-combobox" id="days" name="days" style="width:80px" data-options="required:true,valueField:'value',textField:'text', data:initComboBox(1, 31).concat([{'value':'lastDay','text':'最后一天'}]),"  /> <span class="words">日</span>
                    <input class="easyui-combobox" id="intervalDay" name="intervalDay" style="width:80px" data-options="required:true,valueField:'value',textField:'text', data:initComboBox(0, 8),"  /> <span class="words">天</span>
                    <input class="easyui-datetimebox" id="once_time" name="once_time" data-options="showSeconds:false,required:true" />
                </td>
            </tr>
            <tr class="week_day">
                <td></td>
                <td>
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="0" />周日
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="1" />周一
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="2" />周二
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="3" />周三
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="4" />周四
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="5" />周五
                    <input type="checkbox" class="checkbox_position"  name="week_day" value="6" />周六
                </td>
            </tr>
            <tr class="play_time">
                <td>执行时间：</td>
                <td>
                    <input class="easyui-combobox" id="hours" name="hours" style="width:80px;" data-options="required:true,valueField:'value',textField:'text', data:initComboBox(0, 23)," /> 时
                    <input class="easyui-combobox" id="minutes" name="minutes" style="width:80px;"  data-options="required:true,valueField:'value',textField:'text', data:initComboBox(0, 59),"  /> 分
                </td>
            </tr>
        </table>
    </div>

    <div class="frequencySetting" style="display: none">
        <table id="fieldMapList">

        </table>
    </div>

    <div class="frequencySetting" style="display: none">
        <table id="fieldCheckList">

        </table>
    </div>

    <div class="frequencySetting" style="display: none">
        <table id="fieldCleanList">

        </table>
    </div>
</div>

<div id="fieldCleanToolBar" class="toolbar" style="display:none">
    <div style="float:left;margin-left: 10px;">
            <input id="fieldCleanSearch" />
    </div>
    <div style="float:right;margin-right:20px;">
        <a href="javascript:;" id="addFieldCleanBtn" onclick="addFieldClean()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
        <a href="javascript:;" id="editFieldCleanBtn" onclick="editFieldClean()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
        <a href="javascript:;" id="delFieldCleanBtn" onclick="delFieldClean()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">删除</a>
    </div>
</div>

<div id="fieldCheckToolBar" class="toolbar" style="display:none">
    <div style="float:left;margin-left: 10px;">
            <input id="fieldCheckSearch" />
    </div>
    <div style="float:right;margin-right:20px;">
        <a href="javascript:;" id="addFieldCheckBtn" onclick="addFieldCheck()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
        <a href="javascript:;" id="editFieldCheckBtn" onclick="editFieldCheck()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
        <a href="javascript:;" id="delFieldCheckBtn" onclick="delFieldCheck()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">删除</a>
    </div>
</div>

<div id="fieldMapToolBar" class="toolbar" style="display:none">
    <div style="float:left;margin-left: 10px;">
            <input id="fieldMapSearch" />
    </div>
    <div style="float:right;margin-right:20px;">
        <a href="javascript:;" id="addFieldMapBtn" onclick="addFieldMap()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
        <a href="javascript:;" id="editFieldMapBtn" onclick="editFieldMap()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
        <a href="javascript:;" id="delFieldMapBtn" onclick="delFieldMap()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">删除</a>
    </div>
</div>


<div class="easyui-dialog" id="fieldMapDialog" data-options="width:500,height:400,buttons:'#fieldMapDialogBtn'" style="display:none">
    <div id="fieldMapDialogBtn">
        <a href="javascript:;" onclick="addFieldMapToGrid()" class="easyui-linkbutton bule_btn">确定</a>
        <a href="javascript:;" onclick="$('#fieldMapDialog').dialog('close')" class="easyui-linkbutton white_btn">取消</a>
    </div>
    <form id="fieldMapForm">
        <input type="hidden" value="add" name="fieldMapAction" />
        <table border="0" cellpadding="0" cellspacing="0" class="dialog_table">
            <tr>
                <td>源字段：</td>
                <td>
                    <input class="easyui-combobox" name="fromFieldName"  data-options="required:true,valueField:'value',textField:'text',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('input[name=\'fromFieldCNName\']').val(record.name)
                    },url:'{% url "dataCleaning:getFieldsByTable" %}',
                    queryParams:{tableName:'FromTable'}" />
                </td>
            </tr>
            <tr>
                <td>源字段中文名：</td>
                <td>
                    <input class="easyui-validatebox textbox" name="fromFieldCNName" style="background-color: #efefef" data-options="readonly:true"  />
                </td>
            </tr>
            <tr>
                <td>目的字段：</td>
                <td>
                    <input class="easyui-combobox" name="toFieldName"  data-options="required:true,valueField:'value',textField:'text',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('input[name=\'toFieldCNName\']').val(record.name).validatebox('validate')
                    },url:'{% url "dataCleaning:getFieldsByTable" %}',
                    queryParams:{tableName:'ToTable'}" />
                </td>
            </tr>
            <tr>
                <td>目的中文名：</td>
                <td><input class="easyui-validatebox textbox" name="toFieldCNName" style="background-color: #efefef" data-options="required:true, readonly:true,validType:'name'" /></td>
            </tr>
        </table>
    </form>
</div>


<div class="easyui-dialog" id="fieldCheckDialog" data-options="width:500,height:400,buttons:'#fieldCheckDialogBtn'" style="display:none">
    <div id="fieldCheckDialogBtn">
        <a href="javascript:;" onclick="addFieldCheckToGrid()" class="easyui-linkbutton bule_btn">确定</a>
        <a href="javascript:;" onclick="$('#fieldCheckDialog').dialog('close')" class="easyui-linkbutton white_btn">取消</a>
    </div>
    <form id="fieldCheckForm">
        <input type="hidden" value="add" name="fieldCheckAction" />
        <table border="0" cellpadding="0" cellspacing="0" class="dialog_table">
            <tr>
                <td>源字段：</td>
                <td>
                    <input class="easyui-combobox" name="fromFieldName"  data-options="required:true,valueField:'value',textField:'text',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('input[name=\'fromFieldCNName\']').val(record.name)
                    },url:'{% url "dataCleaning:getFieldsByTable" %}',
                    queryParams:{tableName:'FromTable'}" />
                </td>
            </tr>
            <tr>
                <td>源字段中文名：</td>
                <td>
                    <input class="easyui-validatebox textbox" name="fromFieldCNName" style="background-color: #efefef" data-options="readonly:true"  />
                </td>
            </tr>
            <tr>
                <td>校验规则：</td>
                <td>
                    <input class="easyui-combobox" name="ruleID"  data-options="required:true,valueField:'id',textField:'name',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('#fieldCheckForm input[name=\'checkRule\']').val(record.id).validatebox('validate')
                    },url:'{% url 'dataCleaningRules:checkRuleComboData' %}'" />
                </td>
            </tr>
            <tr>
                <td>规则ID：</td>
                <td><input class="easyui-validatebox textbox" name="checkRule" style="background-color: #efefef" data-options="required:true, readonly:true," /></td>
            </tr>
        </table>
    </form>
</div>


<div class="easyui-dialog" id="fieldCleanDialog" data-options="width:500,height:400,buttons:'#fieldCleanDialogBtn'" style="display:none">
    <div id="fieldCleanDialogBtn">
        <a href="javascript:;" onclick="addFieldCleanToGrid()" class="easyui-linkbutton bule_btn">确定</a>
        <a href="javascript:;" onclick="$('#fieldCleanDialog').dialog('close')" class="easyui-linkbutton white_btn">取消</a>
    </div>
    <form id="fieldCleanForm">
        <input type="hidden" value="add" name="fieldCleanAction" />
        <table border="0" cellpadding="0" cellspacing="0" class="dialog_table">
            <tr>
                <td>源字段：</td>
                <td>
                    <input class="easyui-combobox" name="fromFieldName"  data-options="required:true,valueField:'value',textField:'text',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('input[name=\'fromFieldCNName\']').val(record.name)
                    },url:'{% url "dataCleaning:getFieldsByTable" %}',
                    queryParams:{tableName:'FromTable'}" />
                </td>
            </tr>
            <tr>
                <td>源字段中文名：</td>
                <td>
                    <input class="easyui-validatebox textbox" name="fromFieldCNName" style="background-color: #efefef" data-options="readonly:true,validType:'name'"  />
                </td>
            </tr>
            <tr>
                <td>清洗规则：</td>
                <td>
                    <input class="easyui-combobox" name="ruleID"  data-options="required:true,valueField:'id',textField:'name',onSelect:function(record){
                        $(this).combobox('checkSelect',$(this));
                        $('#fieldCleanForm input[name=\'checkRule\']').val(record.id).validatebox('validate')
                    },url:'{% url 'dataCleaningRules:cleanRuleComboData' %}'" />
                </td>
            </tr>
            <tr>
                <td>规则ID：</td>
                <td><input class="easyui-validatebox textbox" name="checkRule" style="background-color: #efefef" data-options="required:true, readonly:true," /></td>
            </tr>
        </table>
    </form>
</div>