{% extends 'base.html' %}
{% load staticfiles %}
<!-- 该页面不允许出现js以及css代码,content代码和dialog代码可直接写在本文件中，下面只是content的实例代码 -->
{% block title %}
    数据清洗
{% endblock %}
{% block js %}
    <!-- 此处填充js链接 -->
    <script>
    var urls={
        'enableUrl': "{% url 'dataCleaning:enable' %}",
        'disableUrl': "{% url 'dataCleaning:disable' %}",
        'startUrl': "{% url 'dataCleaning:start' %}",
        'deleteUrl': "{% url 'dataCleaning:delete' %}",
        'saveUrl': "{% url 'dataCleaning:save' %}",
        'getFieldsByTable': "{% url 'dataCleaning:getFieldsByTable' %}",
        'getCollectTable':'{% url "getCollectTable" %}',
        'getStandardTable':'{% url "dataCleaning:getStandardTable" %}',
    },
    collectdb = '{{ collectdb }}',
    standarddb = '{{ standarddb }}';
    </script>
    <script type="text/javascript" src="{% static 'js/app/dataCleaning/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/datagrid-cellediting.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
	<script type="text/javascript" src="/static/js/app/date.js"></script>
{% endblock %}
{% block css %}
    <!-- 此处填充css链接-->
{% endblock %}
{% block content %}
    <!-- 此处填充右侧主体内容 -->
    {% include 'dataCleaning/content.html' %}
{% endblock %}
{% block dialog %}
     <!-- 此处填充右dialog内容 -->
    {% include 'dataCleaning/dialog.html' %}
{% endblock %}