{% extends  'user_base.html' %}
{% load staticfiles %}
{% block title %}
    用户组列表
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/app/userManage/groupList.js' %}"></script>
    <script type="text/javascript">
        var urls = {
           'deletegroupurl': '{% url 'deletegroupurl' %}',
            'addgroupurl': '{% url 'addgroupurl' %}',
            'editgroupurl': '{% url 'editgroupurl' %}',
            'getnameurl': '{% url 'getnameurl' %}'
        }
    </script>
{% endblock %}

{% block dialog %}
    <div class="easyui-dialog" id="groupListDialog" data-options="title:'新增用户组',width:380,height:170,buttons:'#groupListDialogBtn'" style="display:none">
        <form id="groupListForm" method="post">
        <div id="groupListDialogBtn">
            <a href="javascript:saveGroupList();" class="easyui-linkbutton bule_btn">确定</a>
            <a href="javascript:$('#groupListDialog').dialog('close');" class="easyui-linkbutton white_btn">取消</a>
        </div>

            <table border="0" cellpadding="0" cellspacing="0" class="dialog_table">
                <tr style="display: none">
					<td>id:</td>
					<td><input class="easyui-validatebox textbox" name="id" id="id" data-options="" /></td>
				</tr>
				<tr>
					<td>用户组名：</td>
					<td><input type="text" class="easyui-validatebox textbox" name="name" data-options="required:true,"/></td>
				</tr>
                <tr>
                    <td>权限：</td>
                    <td>
                        <input id="cc" name="permission[]"> 
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}

{% block content %}
    <div class="easyui-panel" data-options="fit:true,border:false">
    <div class="easyui-layout" data-options="fit:true,border:false">
         <div data-options="region:'north',border:false" style="height:50px;">
            <div class="nav_title">
                <span>用户鉴权服务</span> >>
                <span>用户组管理</span>
            </div>
         </div>
         <div data-options="region:'center',border:false" >
            <div class="easyui-tabs" id="dataClean" data-options="border:false,fit:true,tabHeight:50,plain:true">
                    <table id="groupList" data-options="url:'{% url 'getgrouplisturl' %}',toolbar:'#groupListToolBar'" style="width:100%;">

                    </table>
            </div>
         </div>

        <div id="groupListToolBar" class="toolbar">
           
            <div style="float:right;margin-right:20px;">
                <a href="javascript:;" id="addGroupListBtn" onclick="addGroupList()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
                <a href="javascript:;" id="editGroupListBtn" onclick="editGroupList()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
                <a href="javascript:;" id="delGroupListBtn" onclick="delGroupList()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">删除</a>
            </div>
			 <div style="float:right;margin-right: 10px;">
                    <input id="groupListSearch" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

