<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/themes/default/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!--<script type="text/javascript" data-main="themes/js/app/main" async="false" src="themes/js/requires.js"></script> -->
    <script type="text/javascript" src="/static/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/app/main.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.easyui.extends.js"></script>
    {% block js %}
    <script type="text/javascript" src="/static/js/app/index/index.js"></script>
    {% endblock %}
    {% block css %}{% endblock %}
    <style>
        .nav a{color:#000000;display: block;width: 100%}
        .nav a::before {
            color: #000000;
            content: attr(data-hover);
            position: absolute;
            opacity: 0;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            pointer-events: none;
        }
        .nav a:hover::before, .nav a:focus::before {
            opacity: 1;
            transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
        }
        .validatebox-invalid{
            height:25px;
        }

    </style>
</head>
<body class="easyui-layout" data-options="border:false" id="box">

<div data-options="region:'north',collapsible:false,border:false" style="height:80px;display:none;overflow:hidden;">
    <a href="#" class="logo"></a>

    <div class="login_welcome">
        <div class="addr_welcome"><span>欢迎您! XXX【省厅】</span></div>
        <a href="###"><img src="/static/images/head1.png/"/><span>回到首页</span></a>
        <a href="###"><img src="/static/images/head2.png/"/><span>修改密码</span></a>
        <a href="/login/"><img src="/static/images/head3.png/"/><span>退出</span></a>
    </div>
    <div style="clear:both;"></div>
</div>
<div data-options="region:'west',collapsible:false,width:'2%',border:false,bodyCls:'body_bg'">

</div>

<div data-options="region:'center',collapsible:false,border:false,width:'84%'" class="body_bg">
    <div class="easyui-layout" data-options = "fit:true" >

        <div id="accordion" data-options="region:'west',border:false" style="width:250px;height:100%;display:none;border-right:25px solid transparent">
            <div class="easyui-accordion" id="accordionTab">
                <div id="p" title="<span style='display:inline-block;color:#fff;width:94px;height:28px;line-height:28px;text-align:center;background:#1a1a1a;background-color: rgba(0,0,0,0.5);border-radius:14px;margin:6px 0 0 8px;'>用户鉴权管理</span>" data-options="selected:true">
                    <div class="nav">
                        <a href="/cjjdglIndex/" style="text-decoration:none">
                            <img src="/static/images/imgimg_1.png/"/>
                            <span>用户管理</span>
                        </a>
                    </div>
                    <div class="nav">
                        <a href="/cjjdglIndex/" style="text-decoration:none">
                            <img src="/static/images/imgimg_2.png/"/>
                            <span>用户组管理</span>
                        </a>
                    </div>
                    <div class="nav">
                        <a href="/cjjdglIndex/" style="text-decoration:none">
                            <img src="/static/images/imgimg_3.png/"/>
                            <span>权限管理</span>
                        </a>
                    </div>
                </div>



            </div>

        </div>

        <div id="contentQulity" data-options="region:'center',collapsible:false,border:false," style="width:100%;height:100%;display:none;overflow:hidden;">
            <div class="easyui-panel" title="<img src='/static/images/littlehouse.png' style='vertical-align:middle;margin:0 8px 0 35px;'/><span>您当前的位置：修改密码</span>" style="height:100%;height:100%;" style="background:#fff;">
                <div class="easyui-layout" data-options = "fit:true">
                    <div class="bgQulity" data-options="region:'west',collapsible:false,width:'4%',border:false,bodyCls:'body_bg'">

                    </div>
                    <div class="bgQulity" data-options="region:'east',collapsible:false,width:'4%',border:false,bodyCls:'body_bg'">

                    </div>
                    <div class="bgQulity" data-options="region:'north',collapsible:false,width:'100%',height:'15px',border:false,bodyCls:'body_bg'">

                    </div>
                    <div id="contentFluid" data-options="region:'center',collapsible:false,border:false,bodyCls:'body_bg',width:'92%'">

                        <!-- 此处填充右侧主体内容 -->
                        <div class="easyui-panel" data-options="fit:true,border:false">
                            <div class="easyui-layout" data-options="fit:true,border:false">
                                <div data-options="region:'north',border:false" style="height:50px;">
                                    <div class="nav_title">
                                        <span>修改密码</span>
                                    </div>
                                </div>

                                <div data-options="region:'center',border:false" >
                                    <div class="panel" style="display:block;width:520px;margin-left:24%">
                                     <div class="easyui-panel yan" style="width:520px;height:355px;margin-top:5%;background: url(/static/images/bg-title.png)">
                                         <div style="padding:10px 60px 20px 60px">
                                             <form id="ff" method="post" style="padding-top:60px;padding-left:11%;">
                                                 <table cellpadding="2">
                                                     <tr>
                                                         <td>新密码:</td>
                                                         <td>
                                                             <input class="easyui-textbox" type="text" name="pwdd" data-options="required:true,validType:'pwdd'"></input>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td>确认密码:</td>
                                                         <td>
                                                             <input class="easyui-textbox" type="text" name="countersign " data-options="required:true,validType:'countersign'"></input>
                                                         </td>
                                                     </tr>
                                                 </table>
                                             </form>
                                             <div style="text-align: center;padding:5px;margin-left:-32px;margin-top:14px;">
                                                 <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()"><img src="/static/images/chongzhi.png"/></a>
                                                 <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="margin-left:32px;"><img src="/static/images/tijiao.png"/></a>
                                             </div>
                                         </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="bgQulity" data-options="region:'south',collapsible:false,border:false,bodyCls:'body_bg'" style="height:70px;">
                        <p style="margin:40px auto 0 auto;width:450px;text-align:center">Copyright © All Rights Reserved 建议使用1280*800分辨率，IE8.0以上浏览</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 此处填充右dialog内容 -->


<script>
function clearForm(){
    $('#ff').form('submit');
}
function submitForm(){
    $('#ff').form('clear');
}
</script>
</body>

</html>