.sub_tabs .tabs{
	border:none;
}
.sub_tabs .tabs li{margin:0 -1px -1px 0;}
.sub_tabs .tabs li a.tabs-inner{
	border:1px solid #4d4d4d;
	background:none;
	padding: 0px 15px;
    border-radius: 0;
}
.sub_tabs .tabs li a.tabs-inner:hover{
	background:#4d4d4d;
    color:#ffffff;
    border:1px solid #4d4d4d;
}
.sub_tabs .tabs li.tabs-selected a.tabs-inner{
	background:#4d4d4d;
    color:#ffffff;
    border:1px solid #4d4d4d;
}
.tabs li.tabs-first{
	margin-left:10px;
}
.tabs-header{
	border-top:none;
}
#i_btn_southern{
border-top:3px solid #00a6a6;
	height:40px;
}
.nav_title{
	height:39px;
}